name: Test

on:
  - pull_request
  - push

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npx xo

  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build
      - run: npm run demo:build

  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get install xvfb
      - run: npm ci
      - run: xvfb-run --auto-servernum npm run jest

  Test-Firefox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get install xvfb
      - run: PUPPETEER_PRODUCT=firefox npm ci
      - run: xvfb-run --auto-servernum npm run jest
